body {
    background-color: #7D9D9C;
}
.kotak{
    margin: 0 auto;
    width: 23cm;
    height: 29,7cm; 
    background-color: whitesmoke;
    padding: 10px;
    font-family: 'Segoe UI';
    font-size: small;
 
}

hr {
    width: 100%;
    height: 3px;
    background-color: darkslategrey;
}

h3 {
    text-align: center;
        }


.tombol{
    background-color: #576F72;
     color: white;
     padding: 10px 15px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     margin-top: 50px;
     text-decoration: none;
   }